<app-goal *ngFor="let goal of courseGoals" [goal]="goal"
          (click)="goal.isActiveGoal = !goal.isActiveGoal"
          [ngClass]="{active: goal.isActiveGoal}">
</app-goal>

<div class="interesting">
  <app-quote [ngClass]="{favorite: isFav}"
              [ngStyle]="{'width': isFav?  '300px' :'400px'}"></app-quote>
  <button class="btn btn-block btn-primary"
          (click)="isFav=!isFav">toggle Fav</button>
</div>
  <button (click)="showBoring(boringBlock)" class="btn btn-block btn-danger">Show boring</button>
<div class="boring" #boringBlock style="display: none">
  <div id="very-boring">
    <app-quote ></app-quote>
  </div>
</div>

